@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');

:root {
	--dark-color-a: #667aff;
	--dark-color-b: #7386ff;
	--light-color: #e6e9ff;
	--success-color: #5cb85c;
	--error-color: #d9534f;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	outline: none;
	color: #001;
}

body {
	font-family: 'Roboto', sans-serif;
	font-size: 16px;
	/*background: var(--light-color);*/
	margin: 20px;
}

ul {
	list-style: none;
}

a {
	text-decoration: none;
}

.btn {
	cursor: pointer;
	padding: 12px 15px;
	/*background: var(--light-color);*/
	/*color: var(--dark-color-a);*/
	background-color: #001;
	color: #fff;
	border-radius: 5px;
	border: 1px solid #001;
	font-size: 17px;
	transition: 0.3s;
}
.btn:hover {
	background-color: #fff;
	border: 1px solid #001;
	color: #001;
}

/* Chat Page */

.chat-container {
	max-width: 1100px;
	background: #fff;
	margin: 30px auto;
	overflow: hidden;
}

.chat-header {
	background: transparent;
	color: #fff;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	padding: 15px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.chat-main {
	display: grid;
	grid-template-columns: 1fr 3fr;
}

.chat-sidebar {
	/*background: var(--dark-color-b);*/
	color: #fff;
	padding: 20px 20px 60px;
	overflow-y: scroll;
	/*border-right: 2px solid #eee;*/
}

/* width */
::-webkit-scrollbar {
  width: 0px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.chat-sidebar h2 {
	font-size: 20px;
	background: rgba(0, 0, 0, 0.1);
	padding: 10px;
	margin-bottom: 20px;
}

.chat-sidebar h3 {
	margin-bottom: 15px;
}

.chat-sidebar ul li {
	padding: 10px 0;
}

.chat-messages {
	padding: 30px;
	max-height: 450px;
	overflow-y: scroll;
	border: 1px solid #eef;
	border-radius: 5px;
}

.chat-messages .message {
	padding: 15px;
	margin-bottom: 15px;
	background-color: transparent;
	border-radius: 5px;
	border: 1px solid #eee;
}

.chat-messages .message .meta {
	font-size: 17px;
	font-weight: 800;
	color: #000;
	opacity: 1;
	margin-bottom: 7px;
}

.chat-messages .message .meta span {
	color: #777;
}

.chat-form-container {
	padding: 20px 30px;
	background-color: transparent;
}

.chat-form-container form {
	display: flex;
}

.chat-form-container input[type='text'] {
	font-size: 16px;
	height: 50px;
	border: 1px solid #eee;
	border-radius: 5px;
	display: flex;
	flex: 1;
	padding: 3%;
	flex-direction: column;
	transition: 0.3s;
}

.chat-form-container input[type='text']:focus {
	box-shadow: 0 0 0 0.09rem #001;
}

/* Join Page */
.join-container {
	max-width: 500px;
	margin: 80px auto;
	color: #fff;
}

.join-header {
	text-align: center;
	padding: 30px;
	background: transparent;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-top: 1px solid #eee;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.join-main {
	padding: 40px 40px;
	background: transparent;
	border-right: 1px solid #eee;
	border-left: 1px solid #eee;
	border-radius: 5px;
	border-bottom: 1px solid #eee;
}

#room-name {
	border-radius: 5px;
	color: #fff;
	background-color: #001;
	padding: 7%;
}

.join-main p {
	margin-bottom: 20px;
}

.join-main .form-control {
	margin-bottom: 20px;
}

.join-main label {
	display: block;
	margin-bottom: 10px;
	padding: 0 2px;
	font-weight: bolder;
}

.join-main input[type='text'] {
	font-size: 16px;
	padding: 5%;
	border: 1px solid #eee;
	border-radius: 5px;
	height: 50px;
	width: 100%;
	transition: 0.3s;
}
.join-main input[type='text']:focus {
	box-shadow: 0 0 0 0.09rem #001;
}

.join-main select {
	font-size: 16px;
	padding:0 5%;
	border: 1px solid #eee;
	border-radius: 5px;
	height: 50px;
	outline: none;
	width: 100%;
	transition: 0.3s;
}

.join-main select:focus {
	box-shadow: 0 0 0 0.09rem #001;
}

.join-main .btn {
	margin-top: 20px;
	width: 100%;
}

@media (max-width: 700px) {
	.chat-main {
		display: block;
	}

	.chat-sidebar {
		display: none;
	}
}

body::-webkit-scrollbar {
	width: 0.2em;
	background-color: white;
  }
  body::-webkit-scrollbar-track {
	box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.3);
  }
  body::-webkit-scrollbar-thumb {
	background-image: #ccc;
	outline: 1px solid white;
	border-radius: 0px;
	transition: 1s;
  } 

#m {
	transition: 0.5s;
	margin-left: 10%;
}

  #continue {
  	transition: 0.5s;
  	opacity: 0;
  }

/* loading */
.loader {
	border: 2px solid transparent; /* transparent */
	border-top: 2px solid rgb(1, 22, 39); /* black */
	border-radius: 50%;
	width: 16px;
	height: 16px;
	animation: spin 0.2s linear infinite;
}

@keyframes spin {
    0% { 
    	transform: rotate(0deg); 
    }
    100% { 
    	transform: rotate(360deg);
    	}
}
#load {
	display: none;
	margin: 2.5%;
}